// font
@font-face {
    font-family: b612;
    src: url('/static/fonts/B612/B612-Regular.ttf');
}


// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
//     ...
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) {
//     ...
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) {
//     ...
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) {
//     ...
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//     ...
// }

// color
//#F8F8F8
$bg-color : #f0f0f0;




// body
body {
    overflow-x: hidden !important;
    font-family: b612, Verdana, Tahoma, sans-serif;
    font-size: medium;
    background-color: $bg-color;
    // margin: 10px;
}

// header
header {
    // margin-bottom: 50px;
    padding-top: 10px;
}

// footer
footer {
    margin-top: 50px;
    font-style: italic;
}

// p
p {
    font-size: 0.9rem;
    text-align: justify;
}