// h2
h2 {
    margin-top: 50px;
    font-size: 2rem;
    margin-left: 10px;
}

// section
section {

    // display info
    +#info {
        display: block;
    }

    // hide all others
    $sections: "#init",
    "#state",
    "#action",
    "#graph";

    @each $section in $sections {
        +#{$section} {
            display: none;
        }
    }
}

// a custom card cf bootstrap
.myCard {
    border-radius: 15px;
    /* border: 1px grey solid; */
    padding: 20px 40px 20px 40px;
    margin: 20px 0px 20px 0px;
    word-wrap: normal;
    text-overflow: ellipsis;
    background-color: white;

    >h3 {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 20px;
        /* border-bottom: 1px grey solid; */
    }
}

// specific table italic
.italic-table {
    font-size: small;
    font-style: italic;

    >td {
        padding-left: 30px;
    }
}


div.extraPadding {
    margin-top: 20px;
}

/* .questionButton {
    margin-top: 10px;
    margin-bottom: 10px;
} */


// in info Scetion this is a card for go  that contain go btn
.btnGo {
    border: 1px rgb(185, 185, 185) solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    padding-left: 5px;
    padding-right: 5px;

    >h4 {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    >p {
        text-align: center;
    }
}