{% macro state() %}


<div class="card">
    <!-- <div class="row">
        <div class="col"> -->
    <h3 class="border-bottom text-center"> State</h3>
    <!-- </div>
    </div> -->
    <!-- 
    <div class="row"> -->
    <!-- <div class="col-sm-6 border-right" id="staticState"> -->
    <!-- <div class="align-self-stretch"> -->
    <h4>Static</h4>
    <table>
        <!-- generic -->
        {% for key in [ "Id","Name",]%}
        <tr>
            <td class="tdX">{{ key }} </td>
            <td id="static{{ key }}"></td>
        </tr>
        {% endfor %}
        <!-- image -->
        <!-- <tr>
            <td class="tdX">shape </td>
            <td id="staticShape">
                <img height="50px" width="80px" src="" alt="an image">
            </td>
        </tr> -->
        <!-- italic  -->
        {% for key in ["Name","Level","Expression","Dimension"] %}
        <tr class="italic-table">
            <td class="tdX">- {{ key }} </td>
            <td id="staticFunct{{ key }}"></td>
        </tr>
        {% endfor %}
        <!-- generic -->
        {% for key, val in [("Objective", "Objective"),
                                        ("Interval", "Interval"),
                                        ("Seed parents", "Seed_parents"),
                                        ("Kill rate", "Kill_rate"),
                                        ("Demography", "Demography"),
                                        ("Child numb", "Average_child_numb"),]%}
        <tr>
            <td class="tdX">{{ key }} </td>
            <td id="static{{ val }}"></td>
        </tr>
        {% endfor %}
    </table>
    <!-- </div> -->
    <!-- </div>
<div class="col-sm-6 border-left " id="dynamicState"> -->
    <!-- <div class="align-self-stretch"> -->
    <h4>Dynamic </h4>
    <table>
        <tr>
            {% for key, val in [("Year", "Year"),
                            ("Pop Size", "Len_current_population"), 
                            ("- First", "First"), 
                            ("- Normal", "Normal"),
                            ("- Random", "Random"),
                            ("Best elements", "Best_current_population"), 
                            ("kill_number", "Kill_number"), 
                            ("saved people", "Saved_people"),
                            ("new_people_number", "New_people_number"),
                            ("- normal_child_nb", "Normal_child_nb"), 
                            ("- random_child_nb", "Random_child_nb")] %}
            <!-- ("Child numb", "Average_child_numb"),
                            ("Child numb", "Average_child_numb") -->
            <td> {{ key }} </td>
            <td id="dynamic{{ val }}"></td>
        </tr>
        {% endfor %}
    </table>
    <!-- </div>
    </div> 
</div> -->
</div>

{% endmacro %}