# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
env/*/
venv/
ENV/



# data/*/*.ods

# logs/*.log
# logs/*.err
# logs/*.out

# params/*.json
# params/private/*.json

# app/static/img/*.jpg
# app/static/img/*.jpeg
# app/static/img/*.bmp
# app/static/img/*.png


# triunder
___*
*___*

# vs code
.vscode

# cache 
*pytest_cache
*cache

# infra
infrastructure/bash/vars.prod.sh

#.env
.env/prod/*
!.env/prod/*.md

# Volumes
volumes/redis/data/*
!volumes/redis/data/*.md