{% macro init_cont(initForm) %}

<!-- <div class="row">
            <div class="col">
                <h2 class="border-bottom text-center"> Init </h2>
            </div>
        </div> -->
<div class="row">
    <div class="col">
        <div class="card">
            <form id="init-form">
                <!-- funct -->
                <div class="row">
                    <div class="col-sm-8">
                        <div style="padding-top: 5px;" class="form-group">{{ initForm.funct.label }}
                            {{ initForm.funct }}
                            <small>{{ initForm.funct.description }} </small>
                            {% if initForm.funct.errors %}
                            <ul class="errors">
                                {% for error in initForm.funct.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="extraPadding">
                                <table>
                                    {% for key, val in [("level", "Level"),
                                    ("expression", "Expression"),
                                    ("dimension", "Dimension"), ] %}
                                    <tr class="Italic">
                                        <td class="tdX"> <small>{{ key }}</small></td>
                                        <td> <small id="funct{{ val }}">42</small></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img id="functSrcImg" height="150px" width="100%" src="" alt="short visual of the function">
                    </div>
                </div>
                <!-- objective -->
                <div class="form-group">{{ initForm.objective.label }}
                    {{ initForm.objective }}<small>{{ initForm.objective.description }}</small>
                    {% if initForm.objective.errors %}
                    <ul class="errors">
                        {% for error in initForm.objective.errors %}
                        <li class="invalid-feedback">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!--    INTERVAL-->
                <div class="form-row">
                    <!-- interval_down -->
                    <div class="col">
                        <div class="form-group">{{ initForm.interval_down.label }}
                            {{ initForm.interval_down }}<small>{{ initForm.interval_down.description }}</small>
                            {% if initForm.interval_down.errors %}
                            <ul class="errors">
                                {% for error in initForm.interval_down.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- interval_up -->
                    <div class="col">
                        <div class="form-group">{{ initForm.interval_up.label }}
                            {{ initForm.interval_up }}<small>{{ initForm.interval_up.description }}</small>
                            {% if initForm.interval_up.errors %}
                            <ul class="errors">
                                {% for error in initForm.interval_up.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- SEED PARENTS AND KILL RATE  -->
                <div class="form-row">
                    <div class="col">
                        <!-- seed_parents -->
                        <div class="form-group">{{ initForm.seed_parents.label }}
                            {{ initForm.seed_parents }}<small>{{ initForm.seed_parents.description }}</small>
                            {% if initForm.seed_parents.errors %}
                            <ul class="errors">
                                {% for error in initForm.seed_parents.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <!-- kill_rate -->
                        <div class="form-group">{{ initForm.kill_rate.label }}
                            {{ initForm.kill_rate }}<small>{{ initForm.kill_rate.description }}</small>
                            {% if initForm.kill_rate.errors %}
                            <ul class="errors">
                                {% for error in initForm.kill_rate.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- DEMOGRAPHY AND CHILD NUMB -->
                <div class="form-row">
                    <div class="col">
                        <!-- demography -->
                        <div class="form-group">{{ initForm.demography.label }}
                            {{ initForm.demography }}<small>{{ initForm.demography.description }}</small>
                            {% if initForm.demography.errors %}
                            <ul class="errors">
                                {% for error in initForm.demography.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- child_numb -->
                    <div class="col">
                        <div class="form-group">{{ initForm.average_child_numb.label }}
                            {{ initForm.average_child_numb }}<small>{{ initForm.average_child_numb.description }}</small>
                            {% if initForm.average_child_numb.errors %}
                            <ul class="errors">
                                {% for error in initForm.average_child_numb.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- kill_before_reproduce AND CHILD NUMB -->
                <div class="form-row">
                    <div class="col">
                        <!-- kill_before_reproduce -->
                        <div class="form-group">{{ initForm.kill_before_reproduce.label }}
                            {{ initForm.kill_before_reproduce }}<small>{{ initForm.kill_before_reproduce.description }}</small>
                            {% if initForm.kill_before_reproduce.errors %}
                            <ul class="errors">
                                {% for error in initForm.kill_before_reproduce.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- social_system -->
                    <div class="col">
                        <div class="form-group">{{ initForm.social_system.label }}
                            {{ initForm.social_system }}<small>{{ initForm.social_system.description }}</small>
                            {% if initForm.social_system.errors %}
                            <ul class="errors">
                                {% for error in initForm.social_system.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- buttons -->
                <div class="form-row">
                    <div class="col">
                        {{ initForm.submit }}
                    </div>
                    <div class="col">
                        <button onclick="fromInitToLandingView()" class="btn btn-danger form-control">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endmacro %}