{% macro init_cont(initForm) %}


{% from "pages/home/init/form_group.html" import form_group %}

<!-- <div class="row">
            <div class="col">
                <h2 class="border-bottom text-center"> Init </h2>
            </div>
        </div> -->
<div class="row">
    <div class="col">
        <div class="card">
            <form id="init-form">
                <!-- funct -->
                <div class="row">
                    <div class="col-sm-8">
                        <div style="padding-top: 5px;" class="form-group">{{ initForm.funct.label }}
                            {{ initForm.funct }}
                            <small>{{ initForm.funct.description }} </small>
                            {% if initForm.funct.errors %}
                            <ul class="errors">
                                {% for error in initForm.funct.errors %}
                                <li class="invalid-feedback">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="extraPadding">
                                <table>
                                    {% for key, val in [("level", "Level"),
                                    ("expression", "Expression"),
                                    ("dimension", "Dimension"), ] %}
                                    <tr class="Italic">
                                        <td class="tdX"> <small>{{ key }}</small></td>
                                        <td> <small id="funct{{ val }}">42</small></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img id="functSrcImg" height="150px" width="100%" src="" alt="short visual of the function">
                    </div>
                </div>
                <!-- objective -->
                {{ form_group(initForm, "objective") }}

                <!--    INTERVAL-->
                <div class="form-row">
                    <!-- interval_down -->
                    <div class="col">
                        {{ form_group(initForm, "interval_down") }}
                    </div>
                    <!-- interval_up -->
                    <div class="col">
                        {{ form_group(initForm, "interval_up") }}
                    </div>
                </div>

                <!-- SEED PARENTS AND KILL RATE  -->
                <div class="form-row">
                    <div class="col">
                        <!-- seed_parents -->
                        {{ form_group(initForm, "seed_parents") }}

                    </div>
                    <div class="col">
                        <!-- kill_rate -->
                        {{ form_group(initForm, "kill_rate") }}
                    </div>
                </div>

                <!-- DEMOGRAPHY AND CHILD NUMB -->
                <div class="form-row">
                    <div class="col">
                        <!-- demography -->
                        {{ form_group(initForm, "demography") }}
                    </div>
                    <!-- child_numb -->
                    <div class="col">
                        {{ form_group(initForm, "average_child_numb") }}
                    </div>
                </div>
                <!-- kill_before_reproduce AND CHILD NUMB -->
                <div class="form-row">
                    <div class="col">
                        <!-- kill_before_reproduce -->
                        {{ form_group(initForm, "kill_before_reproduce") }}
                    </div>
                    <!-- social_system -->
                    <div class="col">
                        {{ form_group(initForm, "social_system") }}
                    </div>
                </div>
                <!-- buttons -->
                <div class="form-row">
                    <div class="col">
                        {{ initForm.submit }}
                    </div>
                    <div class="col">
                        <button onclick="fromInitToLandingView()" class="btn btn-danger form-control">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endmacro %}