{% macro run_cont(runForm) %}


{% from "pages/home/run/state.html" import state %}
{% from "pages/home/run/graph.html" import graph %}
{% from "pages/home/run/action.html" import action %}


<div class="row">
    <!-- state div -->
    <div class="col-sm-4 align-self-strech" id="state-cont">
        <div class="card">
            <!-- <div class="align-self-stretch "> -->
            {{ state() }}
            <!-- </div> -->
        </div>
    </div>

    <!-- graph div  -->
    <div class="col-sm-4 align-self-strech" id="graph-cont">

        <!-- <div class="align-self-stretch "> -->
        <div class="card">

            {{ graph() }}
        </div>
        <!-- </div> -->
    </div>

    <!-- action  div  -->
    <div class="col-sm-4 align-self-strech" id="action-cont">
        <!-- <div class="align-self-stretch "> -->
        <div class="card">

            {{ action(runForm) }}
        </div>
        <!-- </div> -->
    </div>


</div>
{% endmacro %}