{% macro run_cont(runForm) %}


{% from "pages/home/run/state.html" import state %}
{% from "pages/home/run/graph.html" import graph %}
{% from "pages/home/run/action.html" import action %}


<!-- state section -->
<section class="container" id="state-cont">
    {{ state() }}
</section>

<!-- graph section  -->
<section class="container" id="graph-cont">
    {{ graph() }}
</section>

<!-- action  section  -->
<section class="container" id="action-cont">
    {{ action(runForm) }}
</section>

{% endmacro %}