@font-face {
  font-family: b612;
  src: url("/static/fonts/B612/B612-Regular.ttf"); }

body {
  overflow-x: hidden !important;
  font-family: b612, Verdana, Tahoma, sans-serif;
  font-size: medium;
  background-color: #f0f0f0; }

header {
  padding-top: 10px; }

footer {
  margin-top: 50px;
  font-style: italic;
  display: none; }

p {
  font-size: 0.9rem;
  text-align: justify; }
