/* Rooooooxan ! */

@font-face {
    font-family: b612;
    src: url('/static/fonts/B612/B612-Regular.ttf');}

@font-face {
    font-family: sweet_purple;
    src: url('/static/fonts/sweet_purple/sweet purple.otf');}


/* css */

html {
}

body {
    font-family: b612, Verdana, Tahoma, sans-serif;
    font-size: medium ; 
    background-color: #f5f6fa ;
    padding: 10px;
    margin: 10px;
}

header {
    margin-bottom: 50px;
}

main{
}

footer {
    font-style: italic;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

