
#infoSection {
    display: block;
}

#initSection{
    display: none;
}

#stateSection{
    display: none;
}

#actionSection{
    display: none;
}

#graphSection{
    display: none;
}

.myBorder {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;    
    padding: 20px 10px 20px 10px ;
    margin: 20px 10px 20px 10px ;
    word-wrap: normal;
    text-overflow: ellipsis;
    background-color: white;
}