
#infoSection {
    display: block;
}

#initSection{
    display: none;
}

#stateSection{
    display: none;
}

#actionSection{
    display: none;
}

#graphSection{
    display: none;
}

.myBorder {
    border-radius: 15px;
    /* border: 1px grey solid; */
    padding: 20px 40px 20px 40px ;
    margin: 20px 0px 20px 0px ;
    word-wrap: normal;
    text-overflow: ellipsis;
    background-color: white;
}

.Italic {
    font-size: small;
    font-style: italic;
}

td.Italic {
    padding-left: 30px;
}

div.extraPadding {
    margin-top: 20px;
}

/* .questionButton {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.btnGo {
    border : 1px rgb(185, 185, 185) solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    padding-left: 5px;
    padding-right:5px;
}

.btnGo p {
    text-align: center;
}