{% macro header() %}

<header class="container border-bottom">
    <div class="row">
        <div class="col">
            <p>theDarwinProject</p>
        </div>
    </div>
    <!-- < ! -- <nav class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            </nav> - - > -->
</header>

{% endmacro %}