<html lang="en">


<head>
    <!-- charset-->
    <meta charset="utf-8">
    <!-- viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- others-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--base css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
    <!-- base js -->
    <script src="{{ url_for('static', filename='js/base.js')}}"></script>
    <!-- title -->
    <title>theDarwinProject</title>
</head>


<body>

    <header class="container border-bottom">
        <div class="row">
            <div class="col">
                <p>theDarwinProject</p>
            </div>
        </div>
        <!-- < ! -- <nav class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            </nav> - - > -->
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer class="container border-top">
        <p>v0.5.0 on 2020-05-17 - Alexandre Gazagnes</p>
    </footer>
</body>

</html>