<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PROJECT</title>
</head>

<body>
    <header>
        <h1>MY PROJECT</h1>
        <nav>
            <ul>
                <li>lien 1</li>
                <li>lien 2</li>
                <li>lien 3</li>
            </ul>
        </nav>
    </header>

    <section class="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        <p>alexandre</p>
    </footer>
</body>

</html>