{% extends 'base.html' %}
{% block content %}


<!-- home css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">



<!-- SECTION JUMBO -->
<section class="jumbotron jumbotron-fluid" id="myJumbo"
    style="background-image: {{ url_for('static', filename='Charles4.jpg')}}">
    <div class="container">
        <div class="row" style="background-image: {{ url_for('static', filename='Charles4.jpg')}}">
            <div class="col-sm-8">
                <h1 class="">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</section>

<!-- SECTION INFORMATION -->
<section id="info" class="container">
    <!-- 1st row -->
    <div id="letsGo" class="row">
        <div class="myCard">
            <h3 class="border-bottom">Let's Go</h3>
            <div class="row questionButton">
                <div class="col-sm-4">
                    <div class="btnGo">
                        <h4>Baby God</h4>
                        <p>let us help you to find the way, all is cofigured for you </p>
                        <button class="btn btn-primary form-control " onclick="makeInitFromModel()">
                            <h4>Rookie</h4>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="btnGo">
                        <h4>God Trainee</h4>
                        <p>just pick up a model, find out what <br> make's it unique</p>
                        <button class="btn btn-primary form-control " onclick="makeInitFromModel()">
                            <h4>Intermediate</h4>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="btnGo">
                        <h4>God Master</h4>
                        <p>make your own model, define all yours parametres </p>
                        <button class="btn btn-primary form-control " onclick="toggleView_0()">
                            <h4>Expert</h4>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd row -->
    <div id="secondQuestion" class="row">
        <div class="col-sm-6 myCard questionItem">
            <h3 class="border-bottom">What this App about ? </h3>
            <p>EvolutionAlgo helps you to define, test and modelize various gentic algorythm to try to catch a
                very
                basic
                but powerfull concept.
            </p>
            <p> You can just make a random try, or define a very rich collection of feature to test,
                improve and upgrade your own darwin vision of the world.</p>
            <p>
                Play to learn, or learn to play? As you want but please, have some fun and usefull time with
                Darwin
                !
            </p>
        </div>
        <div class="col-sm-6">

        </div>
    </div>

    <!-- 3rd row -->
    <div id="firstQuestion" class="row ">
        <div class="col-sm-6"> </div>
        <div class="col-sm-6 myCard questionItem">
            <h3 class="border-bottom">What is that a Genetic algorithm ?</h3>
            <p>In computer science and operations research, a genetic algorithm (GA) is a metaheuristic inspired
                by the
                process of
                natural selection that belongs to the larger class of evolutionary algorithms (EA).
            </p>
            <p>
                Genetic algorithms are
                commonly used
                to generate high-quality solutions to optimization and search problems by relying on
                biologically
                inspired
                operators
                such as mutation, crossover and selection. John Holland introduced genetic algorithms in 1960
                based on
                the concept of
                Darwin’s theory of evolution; his student David E. Goldberg further extended GA in 1989.
            </p>
        </div>
    </div>

</section>


<!-- SECTION STATE -->
<section id="state" class="container">
    <!-- <div class="row">
        <div class="col-sm-6"> -->
    <div id="staticState">
        <h2>Static State</h2>
        <div class="myCard">
            <table>
                <tr>
                    <th>id </th>
                    <td id="staticId"></td>
                </tr>
                <tr>
                    <th>name </th>
                    <td id="staticName"></td>
                </tr>
                <tr>
                    <th>funct </th>
                    <td id="staticFunct"></td>
                </tr>

                <tr>
                    <th>shape </th>
                    <td id="staticShape">
                        <img src="" alt="an image">
                    </td>
                </tr>
                <tr class="italic-table">
                    <th>- level </th>
                    <td id="staticLevel"></td>
                </tr>
                <tr class="italic-table">
                    <th>- expression </th>
                    <td id="staticExpression"></td>
                </tr>
                <tr class="italic-table">
                    <th>- dimension </th>
                    <td id="staticDimension"></td>
                </tr>
                <tr>
                    <th>objective </th>
                    <td id="staticObjective"></td>
                </tr>
                <tr>
                    <th>interval </th>
                    <td id="staticInterval"></td>
                </tr>
                <tr>
                    <th>seed parents </th>
                    <td id="staticSeedParents"></td>
                </tr>
                <tr>
                    <th>kill rate </th>
                    <td id="staticKillRate"></td>
                </tr>
                <tr>
                    <th>demography </th>
                    <td id="staticDemography"></td>
                </tr>
                <tr>
                    <th>average_child_numb </th>
                    <td id="staticAverageChildNumb"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="col-sm-6"> -->
    <div id="dynamicState">
        <h2>Dynamic State</h2>
        <div class="myCard">

            <table>
                <tr>
                    <th>year </th>
                    <td id="rowYear"></td>
                </tr>
                <tr>
                    <th>pop size </th>
                    <td id="rowLen"></td>
                </tr>
                <tr>
                    <th>- original </th>
                    <td id="rowOriginal"></td>
                </tr>
                <tr>
                    <th>- normal </th>
                    <td id="rowNormal"></td>
                </tr>
                <tr>
                    <th>- mutant </th>
                    <td id="rowMutant"></td>
                </tr>
                <tr>
                    <th>best elems</th>
                    <td id="rowBest"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- </div>
    </div> -->
</section>


<!-- SECTION ACTION -->
<section id="action" class="container">

    <h2>Action</h2>
    <form id="runForm" class="myCard formwrapper">
        <div class="row">
            <!-- years -->
            <div class="col">
                <div class="form-group">
                    {{ runForm.years.label }}
                    {{ runForm.years }}
                    <small>{{ runForm.years.description }}</small>
                    {% if runForm.years.errors %}
                    <ul class=" errors">
                        {% for error in runForm.years.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- speed -->
            <div class="col">
                <div class="form-group">
                    {{ runForm.speed.label }}
                    {{ runForm.speed }}
                    <small>{{ runForm.speed.description }}</small>
                    {% if runForm.speed.errors %}
                    <ul class="errors">
                        {% for error in runForm.speed.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- </div>
        <div class row> -->
            <div class="col">
                <div class="form-group">
                    {{ runForm.display.label }}
                    <p></p>
                    {{ runForm.display }}
                    {% if runForm.display.errors %}
                    <ul class="errors">
                        {% for error in runForm.display.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                {{ runForm.submit }}
            </div>
            <div class="col">
                <button class="btn btn-info form-control" onclick="location.reload()">Reload</button>
            </div>
            <div class="col">
                <button class="btn btn-danger form-control" onclick="location.reload()">Reset</button>
            </div>
        </div>
    </form>
</section>


<!-- SECTION VISUALISATION -->
<section id="graph" class="container">
    <h2>Visualize</h2>
    <div class="myCard">
        <div>
            <h3>current population</h3>
            <div id="populationChart"></div>
        </div>
        <div>
            <h3>xs evolution in years</h3>
            <div id="xsChart"></div>
        </div>
        <div>
            <h3>ys evolution in years</h3>
            <div id="ysChart"></div>
        </div>
        <div>
            <h3>learning curve in years</h3>
            <div id="yearsChart"></div>
        </div>
    </div>
</section>


<!-- home js-->
<script src="{{ url_for('static', filename='js/home.js')}}"></script>

<!-- google charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!-- maths in html 
for future version -->
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->





{% endblock content %}