{% extends 'base.html' %}
{% block content %}


<!-- home css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">


<!-- SECTION INFORMATION -->
<section id="infoSection">
    <!-- <h2>About</h2> -->
    <div id="secondQuestion" class=" myBorder questionItem">
        <h3 class="border-bottom">What this App about ? </h3>
        <p>EvolutionAlgo helps you to define, test and modelize various gentic algorythm to try to catch a very basic
            but powerfull concept.
        </p>
        <p> You can just make a random try, or define a very rich collection of feature to test,
            improve and upgrade your own darwin vision of the world.</p>
        <p>
            Play to learn, or learn to play? As you want but please, have some fun and usefull time with Darwin !
        </p>
    </div>
    <div id="firstQuestion" class="myBorder questionItem">
        <h3 class="border-bottom">What is that a Genetic algorithm ?</h3>
        <p>In computer science and operations research, a genetic algorithm (GA) is a metaheuristic inspired by the
            process of
            natural selection that belongs to the larger class of evolutionary algorithms (EA).
        </p>
        <p>
            Genetic algorithms are
            commonly used
            to generate high-quality solutions to optimization and search problems by relying on biologically inspired
            operators
            such as mutation, crossover and selection. John Holland introduced genetic algorithms in 1960 based on
            the concept of
            Darwin’s theory of evolution; his student David E. Goldberg further extended GA in 1989.
        </p>
    </div>


    <div id="letsGo" class="myBorder">
        <h3 class="border-bottom">Let's Go</h3>
        <div class="row questionButton">
            <div class="col-sm-4">
                <div class="btnGo">
                    <h4>Baby God</h4>
                    <p>let us help you to find the way, all is cofigured for you </p>
                    <button class="btn btn-primary form-control " onclick="makeInitFromModel()">
                        <h4>Rookie</h4>
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="btnGo">
                    <h4>God Trainee</h4>
                    <p>just pick up a model, find out what make's it unique</p>
                    <button class="btn btn-primary form-control " onclick="makeInitFromModel()">
                        <h4>Intermediate</h4>
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="btnGo">
                    <h4>God Master</h4>
                    <p>make your own model, define all yours parametres </p>
                    <button class="btn btn-primary form-control " onclick="toggleView_0()">
                        <h4>Expert</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- SECTION INIT FORM -->
<section id=initSection>
    <!-- <h2>Init</h2> -->
    <form id="initFormUser" class="myBorder formwrapper">
        <!-- method="POST" action="/init"-->
        <!-- funct -->
        <div class="row">
            <div class="col-sm-8">
                <div style="padding-top: 5px;" class="form-group">{{ initForm.funct.label }} {{ initForm.funct }}
                    <small>{{ initForm.funct.description }} </small>
                    {% if initForm.funct.errors %}
                    <ul class="errors">
                        {% for error in initForm.funct.errors %}
                        <li class="invalid-feedback">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="extraPadding">
                        <table>
                            <tr>
                                <th class="Italic">level </th>
                                <td class="Italic" id="functLevel"></td>
                            </tr>
                            <tr>
                                <th class="Italic">expression </th>
                                <td class="Italic" id="functExpression"></td>
                            </tr>
                            <tr>
                                <th class="Italic">dimension </th>
                                <td class="Italic" id="functDimension"></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img id="functSrcImg" src="" width="100%" height="200" alt="short visual of the function">
            </div>
        </div>
        <!-- objective -->
        <div class="form-group">{{ initForm.objective.label }}
            {{ initForm.objective }}<small>{{ initForm.objective.description }}</small>
            {% if initForm.objective.errors %}
            <ul class="errors">
                {% for error in initForm.objective.errors %}
                <li class="invalid-feedback">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!--    INTERVAL-->
        <div class="form-row">
            <!-- interval_down -->
            <div class="col">
                <div class="form-group">{{ initForm.interval_down.label }}
                    {{ initForm.interval_down }}<small>{{ initForm.interval_down.description }}</small>
                    {% if initForm.interval_down.errors %}
                    <ul class="errors">
                        {% for error in initForm.interval_down.errors %}
                        <li class="invalid-feedback">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- interval_up -->
            <div class="col">
                <div class="form-group">{{ initForm.interval_up.label }}
                    {{ initForm.interval_up }}<small>{{ initForm.interval_up.description }}</small>
                    {% if initForm.interval_up.errors %}
                    <ul class="errors">
                        {% for error in initForm.interval_up.errors %}
                        <li class="invalid-feedback">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- seed_parents -->
        <div class="form-group">{{ initForm.seed_parents.label }}
            {{ initForm.seed_parents }}<small>{{ initForm.seed_parents.description }}</small>
            {% if initForm.seed_parents.errors %}
            <ul class="errors">
                {% for error in initForm.seed_parents.errors %}
                <li class="invalid-feedback">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- kill_rate -->
        <div class="form-group">{{ initForm.kill_rate.label }}
            {{ initForm.kill_rate }}<small>{{ initForm.kill_rate.description }}</small>
            {% if initForm.kill_rate.errors %}
            <ul class="errors">
                {% for error in initForm.kill_rate.errors %}
                <li class="invalid-feedback">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- demography -->
        <div class="form-group">{{ initForm.demography.label }}
            {{ initForm.demography }}<small>{{ initForm.demography.description }}</small>
            {% if initForm.demography.errors %}
            <ul class="errors">
                {% for error in initForm.demography.errors %}
                <li class="invalid-feedback">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- average_child_numb -->
        <div class="form-group">{{ initForm.average_child_numb.label }}
            {{ initForm.average_child_numb }}<small>{{ initForm.average_child_numb.description }}</small>
            {% if initForm.average_child_numb.errors %}
            <ul class="errors">
                {% for error in initForm.average_child_numb.errors %}
                <li class="invalid-feedback">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="col">
                {{ initForm.submit }}
            </div>
            <div class="col">
                <button onclick="location.reload()" class="btn btn-danger form-control">Back</button>
            </div>
        </div>

    </form>
</section>


<!-- SECTION STATE -->
<section id="stateSection">
    <!-- <div class="row">
        <div class="col-sm-6"> -->
    <div id="staticState">
        <h2>Static State</h2>
        <div class="myBorder">
            <table>
                <tr>
                    <th>id </th>
                    <td id="staticId"></td>
                </tr>
                <tr>
                    <th>name </th>
                    <td id="staticName"></td>
                </tr>
                <tr>
                    <th>funct </th>
                    <td id="staticFunct"></td>
                </tr>

                <tr>
                    <th>shape </th>
                    <td id="staticShape">
                        <img src="" alt="an image">
                    </td>
                </tr>
                <tr>
                    <th class="Italic">- level </th>
                    <td id="staticLevel" class="Italic"></td>
                </tr>
                <tr>
                    <th class="Italic">- expression </th>
                    <td id="staticExpression" class="Italic"></td>
                </tr>
                <tr>
                    <th class="Italic">- dimension </th>
                    <td id="staticDimension" class="Italic"></td>
                </tr>
                <tr>
                    <th>objective </th>
                    <td id="staticObjective"></td>
                </tr>
                <tr>
                    <th>interval </th>
                    <td id="staticInterval"></td>
                </tr>
                <tr>
                    <th>seed parents </th>
                    <td id="staticSeedParents"></td>
                </tr>
                <tr>
                    <th>kill rate </th>
                    <td id="staticKillRate"></td>
                </tr>
                <tr>
                    <th>demography </th>
                    <td id="staticDemography"></td>
                </tr>
                <tr>
                    <th>average_child_numb </th>
                    <td id="staticAverageChildNumb"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="col-sm-6"> -->
    <div id="dynamicState">
        <h2>Dynamic State</h2>
        <div class="myBorder">

            <table>
                <tr>
                    <th>year </th>
                    <td id="rowYear"></td>
                </tr>
                <tr>
                    <th>pop size </th>
                    <td id="rowLen"></td>
                </tr>
                <tr>
                    <th class="Italic">- original </th>
                    <td id="rowOriginal" class="Italic"></td>
                </tr>
                <tr>
                    <th class="Italic">- normal </th>
                    <td id="rowNormal" class="Italic"></td>
                </tr>
                <tr>
                    <th class="Italic">- mutant </th>
                    <td id="rowMutant" class="Italic"></td>
                </tr>
                <tr>
                    <th>best elems</th>
                    <td id="rowBest"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- </div>
    </div> -->
</section>


<!-- SECTION ACTION -->
<section id="actionSection">

    <h2>Action</h2>
    <form id="runForm" class="myBorder formwrapper">
        <div class="row">
            <!-- years -->
            <div class="col">
                <div class="form-group">
                    {{ runForm.years.label }}
                    {{ runForm.years }}
                    <small>{{ runForm.years.description }}</small>
                    {% if runForm.years.errors %}
                    <ul class=" errors">
                        {% for error in runForm.years.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- speed -->
            <div class="col">
                <div class="form-group">
                    {{ runForm.speed.label }}
                    {{ runForm.speed }}
                    <small>{{ runForm.speed.description }}</small>
                    {% if runForm.speed.errors %}
                    <ul class="errors">
                        {% for error in runForm.speed.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class row>
            <div class="col">
                <div class="form-group">
                    {{ runForm.display.label }}
                    {{ runForm.display }}
                    {% if runForm.display.errors %}
                    <ul class="errors">
                        {% for error in runForm.display.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

        </div>
        </div>
        <div class="form-row">
            <div class="col">
                {{ runForm.submit }}
            </div>
            <div class="col">
                <button class="btn btn-info form-control" onclick="location.reload()">Reload</button>
            </div>
            <div class="col">
                <button class="btn btn-danger form-control" onclick="location.reload()">Reset</button>
            </div>
        </div>
    </form>
</section>


<!-- SECTION VISUALISATION -->
<section id="graphSection">
    <h2>Visualize</h2>
    <div class="myBorder">
        <div>
            <h3>current population</h3>
            <div id="populationChart"></div>
        </div>
        <div>
            <h3>xs evolution in years</h3>
            <div id="xsChart"></div>
        </div>
        <div>
            <h3>ys evolution in years</h3>
            <div id="ysChart"></div>
        </div>
        <div>
            <h3>learning curve in years</h3>
            <div id="yearsChart"></div>
        </div>
    </div>
</section>


<!-- home js-->
<script src="{{ url_for('static', filename='js/home.js')}}"></script>

<!-- google charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!-- maths in html 
for future version -->
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->





{% endblock content %}