{% extends 'base.html' %}
{% block content %}


{% from "home/info.html" import info_cont %}
{% from "home/init.html" import init_cont %}

<!-- home css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">


<!-- info section  -->
<section id="info-cont">
    {{ info_cont() }}
</section>


<!-- init section  -->
<section class="container" id="init-cont">
    {{ init_cont(initForm) }}
</section>


<!-- state section -->
<section class="container" id="state-cont">
    <!-- <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> State</h2>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-6 " id="staticState">
            <div class="card align-self-stretch">
                <h3>Static State</h3>
                <table>
                    <!-- generic -->
                    {% for key in [ "Id","Name",]%}
                    <tr>
                        <td class="tdX">{{ key }} </td>
                        <td id="static{{ key }}"></td>
                    </tr>
                    {% endfor %}
                    <!-- image -->
                    <tr>
                        <td class="tdX">shape </td>
                        <td id="staticShape">
                            <img height="50px" width="80px" src="" alt="an image">
                        </td>
                    </tr>
                    <!-- italic  -->
                    {% for key in ["Name","Level","Expression","Dimension"] %}
                    <tr class="italic-table">
                        <td class="tdX">- {{ key }} </td>
                        <td id="staticFunct{{ key }}"></td>
                    </tr>
                    {% endfor %}
                    <!-- generic -->
                    {% for key, val in [("Objective", "Objective"),
                                        ("Interval", "Interval"),
                                        ("Seed parents", "Seed_parents"),
                                        ("Kill rate", "Kill_rate"),
                                        ("Demography", "Demography"),
                                        ("Child numb", "Average_child_numb"),]%}
                    <tr>
                        <td class="tdX">{{ key }} </td>
                        <td id="static{{ val }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-6 " id="dynamicState">
            <div class="card align-self-stretch">
                <h3>Dynamic State</h3>
                <table>
                    <tr>
                        {% for key, val in [("Year", "Year"),
                                            ("Pop Size", "Len_current_population"), 
                                            ("First", "First"), 
                                            ("Normal", "Normal"),
                                            ("Random", "Random"),
                                            ("Best elements", "Best_current_population") ] %}
                        <th> {{ key }} </th>
                        <td id="dynamic{{ val }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>


<!-- graph section  -->
<section class="container" id="graph-cont">
    <!-- <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> Visualize </h2>
        </div>
    </div> -->
    <div class="row">
        {% for k in ["pop", "xs", "ys", "years"] %}
        <div class="col-sm-6">
            <div class="card">
                <h3>graph {{ k }}</h3>
                <div id="{{ k }}Chart"> </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<!-- action  section  -->
<section class="container" id="action-cont">
    <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> Action </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <form id="run-form">
                    <div class="form-row">
                        <div class="col">

                            <!-- year -->
                            <div class="form-group">
                                {{ runForm.years.label }}
                                {{ runForm.years }}
                                <small>{{ runForm.years.description }}</small>
                                {% if runForm.years.errors %}
                                <ul class=" errors">
                                    {% for error in runForm.years.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <!-- speed  -->
                        <div class="col">
                            <div class="form-group">
                                {{ runForm.speed.label }}
                                {{ runForm.speed }}
                                <small>{{ runForm.speed.description }}</small>
                                {% if runForm.speed.errors %}
                                <ul class="errors">
                                    {% for error in runForm.speed.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
                            {{ runForm.submit }}
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-info form-control" onclick="location.reload()">Reload</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger form-control" onclick="location.reload()">Reset</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>



<!-- home js -->
<script src="{{ url_for('static', filename='js/o0_var.js')}}"></script>
<script src="{{ url_for('static', filename='js/o1_utils.js')}}"></script>
<script src="{{ url_for('static', filename='js/o2_front.js')}}"></script>
<script src="{{ url_for('static', filename='js/o3_graph.js')}}"></script>
<script src="{{ url_for('static', filename='js/o4_back.js')}}"></script>
<script src="{{ url_for('static', filename='js/o5_main.js')}}"></script>


<!-- home js-->
<!-- <script src="{{ url_for('static', filename='js/home.js')}}"></script> -->

<!-- google charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!-- maths in html 
for future version -->
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->


<!-- FOR FUTURE VERSION
<section class="container-fluid" id="app">
    <div class="row">
        <div class="col-sm-4">
            <div>
                static state
            </div>
            <div>
                dynamic state
            </div>
            <div>
                action
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                graph 1
            </div>
            <div>
                graph 2
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                graph 3
            </div>
            <div>
                graph 4
            </div>
        </div>
    </div>
</section> -->



{% endblock content %}