{% extends 'base.html' %}
{% block content %}

<!-- home css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">


<!-- info section  -->
<section id="info-cont">

    <!-- jumbo -->
    <div class="jumbotron" id="jumbo-cont">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 align-self-center"></div>
                <div class="col-sm-5 align-self-center">
                    <h1 class="">Simple and fun genetic algorythms</h1>
                    <p class="lead">Define, test and modelize various gentic algorythm. Try to catch a very basic but
                        powerfull concept.
                    </p>
                    <!-- <p> You can just make a random try, or define a very rich collection of feature to test,
                        improve and upgrade your own darwin vision of the world.</p> -->

                    <p class="text-center">play to learn, learn to play!
                    </p>
                    <!-- <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi veritatis repudiandae
                    </p>
                    <button class="btn btn-secondary">let's Go! </button> -->
                </div>
                <div class="col-sm-5 align-self-center">
                    <div class="text-center">
                        <img class="rounded-circle" src="{{ url_for('static', filename='img/icons/CharlesSquare.jpg')}}"
                            alt="old man image">
                    </div>
                </div>
                <div class="col-sm-1 align-self-center"></div>
            </div>
        </div>
    </div>

    <!-- butGo 0 -->
    <div class="container" id="btnGo0-cont">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom text-center"> Let's Go</h2>
            </div>
        </div>
        <div class="row">
            {% for id, title, descr, text in [
                    ("0", "Start", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex, perferendis ipsum omnis cum quidem ", "Beginner"),
                    ("1", "Learn", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex, perferendis ipsum omnis cum quidem ", "Intermediate"),
                    ("2", "Masterize", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex, perferendis ipsum omnis cum quidem ", "Expert"),] %}
            <div class="col-sm-4">
                <div class="card rounded">
                    <div class="card-body ">
                        <h4 class="card-title text-center" id="btnGo0Title-{{ id }}">{{ title }}</h4>
                        <p class="card-text" id="btnGo0Descr-{{ id }}"> {{ descr }}</p>
                        <button class="btn btn-primary form-control" id="btnGo0Text-{{ id }}">{{ text }}</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- feature grid -->
    <div class="container" id="feature-cont">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom text-center"> Simple and easy</h2>
            </div>
        </div>
        {% for r, c, title, text, icon_src, alt_img in [
            (0, 1, "1. Choose a function", "hui", "function", "hui"),
            (1, 1, "2. Define your parametres", "hui", "params", "hui"),
            (2, 1, "3. Let Darwin make the job", "hui", "evolution", "hui"),
            (3, 1, "4. Watch out life in action", "hui", "eat", "hui"),] %}
        <div class="row">
            <div class="col-sm-6 align-self-center" id="featureColText-{{ r }}">
                <div class=" card">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ title }}</h3>
                        <p class=" card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iusto
                            quasi
                            repellendus veritatis repellat voluptas fugit, suscipit temporibus aliquid mollitia ea
                            commodi, vel dolores delectus consequatur porro quo id dicta?</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 align-self-center" id="featureColImg-{{ r }}">
                <div class="text-center">
                    <img width="200px" height="200px"
                        src="{{ url_for('static', filename='img/icons/'+icon_src+'.png') }}" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- butGo 1 -->
    <div class="container" id="btnGo1-cont">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom text-center"> Let's Go</h2>
            </div>
        </div>
        <div class="row">
            {% for id, title, descr, text in [
                    ("0", "Baby God", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex, perferendis ipsum omnis cum quidem ", "Beginner"),
                    ("1", "God Aprentice", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex, perferendis ipsum omnis cum quidem ", "Intermediate"),
                    ("2", "Master God", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex, perferendis ipsum omnis cum quidem ", "Expert"),] %}
            <div class="col-sm-4">
                <div class="card rounded">
                    <div class="card-body ">
                        <h4 class="card-title text-center" id="btnGo1Title-{{ id }}">{{ title }}</h4>
                        <p class="card-text" id="btnGo1Descr-{{ id }}"> {{ descr }}</p>
                        <button class="btn btn-primary form-control" onclick="fromLandingToInitView('{{ text }}')"
                            id="btnGo1Text-{{ id }}">{{ text }}</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- citation  -->
    <div class="container-fluid" id="citation-cont">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom text-center"> Testimonials</h2>
            </div>
        </div>
        <div class="row">
            {% for id, text, author, date in [
                ("0", "I love this website, really amazing.", "A. Turing","1678-12-01"),
                ("1", "The most powerfull app in the world.", "I. Newton","1111-12-01"),
                ("2","I'm sure that Earth has a cubic shape.", "Aristote","-115-02-31")   , 
                ("3","This is fake news, this is fake news.", "D. Trump","2020-01-01"), 
                ("4", "Whow, what a great UX and UI work...", "S. Job","2019-09-10"), 
                ("5","I'm sitting here in the boring room.", "F. Garden", "1996-11-12"), 
                ("6", "I love this website, really amazing.", "A. Turing","1678-12-01"),
                ("7", "The most powerfull app in the world.", "I. Newton","1111-12-01"),
                ("8","I'm sure that Earth has a cubic shape.", "Aristote","-115-02-31") ,
                ("9","This is fake news, this is fake news.", "D. Trump","2020-01-01"),
                ("10", "Whow, what a great UX and UI work...", "S. Job","2019-09-10"),
                ("11","I will reach Mars before the end of the year", "E. Musk", "1996-11-12"), ] %}
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body ">
                        <blockquote class="blockquote mb-0 align-self-stretch">
                            <p id="quoteText-{{ id }}">"{{ text }}"</p>
                            <footer class="blockquote-footer"><span id="quoteAuthor-{{ id }}">by {{ author }}</span>
                                <br>
                                <span id="quoteDate-{{ id }}">on {{ date }} </span>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- init section  -->
<section class="container" id="init-cont">
    <!-- <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> Init </h2>
        </div>
    </div> -->
    <div class="row">
        <div class="col">
            <div class="card">
                <form id="init-form">
                    <!-- funct -->
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="padding-top: 5px;" class="form-group">{{ initForm.funct.label }}
                                {{ initForm.funct }}
                                <small>{{ initForm.funct.description }} </small>
                                {% if initForm.funct.errors %}
                                <ul class="errors">
                                    {% for error in initForm.funct.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <div class="extraPadding">
                                    <table>
                                        {% for key, val in [("level", "Level"),
                                ("expression", "Expression"),
                                ("dimension", "Dimension"), ] %}
                                        <tr class="Italic">
                                            <td class="tdX"> <small>{{ key }}</small></td>
                                            <td> <small id="funct{{ val }}">42</small></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img id="functSrcImg" height="150px" width="100%" src="" alt="short visual of the function">
                        </div>
                    </div>
                    <!-- objective -->
                    <div class="form-group">{{ initForm.objective.label }}
                        {{ initForm.objective }}<small>{{ initForm.objective.description }}</small>
                        {% if initForm.objective.errors %}
                        <ul class="errors">
                            {% for error in initForm.objective.errors %}
                            <li class="invalid-feedback">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <!--    INTERVAL-->
                    <div class="form-row">
                        <!-- interval_down -->
                        <div class="col">
                            <div class="form-group">{{ initForm.interval_down.label }}
                                {{ initForm.interval_down }}<small>{{ initForm.interval_down.description }}</small>
                                {% if initForm.interval_down.errors %}
                                <ul class="errors">
                                    {% for error in initForm.interval_down.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <!-- interval_up -->
                        <div class="col">
                            <div class="form-group">{{ initForm.interval_up.label }}
                                {{ initForm.interval_up }}<small>{{ initForm.interval_up.description }}</small>
                                {% if initForm.interval_up.errors %}
                                <ul class="errors">
                                    {% for error in initForm.interval_up.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- SEED PARENTS AND KILL RATE  -->
                    <div class="form-row">
                        <div class="col">
                            <!-- seed_parents -->
                            <div class="form-group">{{ initForm.seed_parents.label }}
                                {{ initForm.seed_parents }}<small>{{ initForm.seed_parents.description }}</small>
                                {% if initForm.seed_parents.errors %}
                                <ul class="errors">
                                    {% for error in initForm.seed_parents.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <!-- kill_rate -->
                            <div class="form-group">{{ initForm.kill_rate.label }}
                                {{ initForm.kill_rate }}<small>{{ initForm.kill_rate.description }}</small>
                                {% if initForm.kill_rate.errors %}
                                <ul class="errors">
                                    {% for error in initForm.kill_rate.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- DEMOGRAPHY AND CHILD NUMB -->
                    <div class="form-row">
                        <div class="col">
                            <!-- demography -->
                            <div class="form-group">{{ initForm.demography.label }}
                                {{ initForm.demography }}<small>{{ initForm.demography.description }}</small>
                                {% if initForm.demography.errors %}
                                <ul class="errors">
                                    {% for error in initForm.demography.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <!-- child_numb -->
                        <div class="col">
                            <div class="form-group">{{ initForm.average_child_numb.label }}
                                {{ initForm.average_child_numb }}<small>{{ initForm.average_child_numb.description }}</small>
                                {% if initForm.average_child_numb.errors %}
                                <ul class="errors">
                                    {% for error in initForm.average_child_numb.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- kill_before_reproduce AND CHILD NUMB -->
                    <div class="form-row">
                        <div class="col">
                            <!-- kill_before_reproduce -->
                            <div class="form-group">{{ initForm.kill_before_reproduce.label }}
                                {{ initForm.kill_before_reproduce }}<small>{{ initForm.kill_before_reproduce.description }}</small>
                                {% if initForm.kill_before_reproduce.errors %}
                                <ul class="errors">
                                    {% for error in initForm.kill_before_reproduce.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <!-- social_system -->
                        <div class="col">
                            <div class="form-group">{{ initForm.social_system.label }}
                                {{ initForm.social_system }}<small>{{ initForm.social_system.description }}</small>
                                {% if initForm.social_system.errors %}
                                <ul class="errors">
                                    {% for error in initForm.social_system.errors %}
                                    <li class="invalid-feedback">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- buttons -->
                    <div class="form-row">
                        <div class="col">
                            {{ initForm.submit }}
                        </div>
                        <div class="col">
                            <button onclick="fromInitToLandingView()" class="btn btn-danger form-control">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button onclick="fromInitToRunView()">
        Go</button>
</section>


<!-- state section -->
<section class="container" id="state-cont">
    <!-- <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> State</h2>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-6 " id="staticState">
            <div class="card align-self-stretch">
                <h3>Static State</h3>
                <table>
                    <!-- generic -->
                    {% for key, val in [("id", "Id"),
                                        ("name", "Name"),
                                        ("funct", "funct"), ]%}
                    <tr>
                        <th>{{ key }} </th>
                        <td id="static{{ val }}"></td>
                    </tr>
                    {% endfor %}
                    <!-- image -->
                    <tr>
                        <th>shape </th>
                        <td id="staticShape">
                            <img height="200px" width="300px" src="" alt="an image">
                        </td>
                    </tr>
                    <!-- italic  -->
                    {% for key, val in [    ("level", "Level"),
                                            ("expression", "Expression"),
                                            ("dimension", "Dimension"), ]%}
                    <tr class="italic-table">
                        <th>- {{key }} </th>
                        <td id="static{{ val }}"></td>
                    </tr>
                    {% endfor %}
                    <!-- generic -->
                    {% for key, val in [("objective", "Objective"),
                                        ("interval", "Interval"),
                                        ("seed parents", "SeedParents"),
                                        ("kill rate", "KillRate"),
                                        ("demography", "Demography"),
                                        ("child_numb", "AverageChildNumb"),]%}
                    <tr>
                        <th>{{ key }} </th>
                        <td id="static{{ val }}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-6 " id="dynamicState">
            <div class="card align-self-stretch">
                <h3>Dynamic State</h3>
                <table>
                    <tr>
                        <th>year </th>
                        <td id="rowYear"></td>
                    </tr>
                    <tr>
                        <th>pop size </th>
                        <td id="rowLen"></td>
                    </tr>
                    <tr>
                        <th>- original </th>
                        <td id="rowOriginal"></td>
                    </tr>
                    <tr>
                        <th>- normal </th>
                        <td id="rowNormal"></td>
                    </tr>
                    <tr>
                        <th>- mutant </th>
                        <td id="rowMutant"></td>
                    </tr>
                    <tr>
                        <th>best elems</th>
                        <td id="rowBest"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- graph section  -->
<section class="container" id="graph-cont">
    <!-- <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> Visualize </h2>
        </div>
    </div> -->
    <div class="row">
        {% for k in [0, 1, 2, 3] %}
        <div class="col-sm-6">
            <div class="card">
                <h3>graph {{ k }}</h3>
                <div>grpah {{ k }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<!-- action  section  -->
<section class="container" id="action-cont">
    <div class="row">
        <div class="col">
            <h2 class="border-bottom text-center"> Action </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <form id="runForm">
                    <div class="form-row">
                        <div class="col">

                            <!-- year -->
                            <div class="form-group">
                                {{ runForm.years.label }}
                                {{ runForm.years }}
                                <small>{{ runForm.years.description }}</small>
                                {% if runForm.years.errors %}
                                <ul class=" errors">
                                    {% for error in runForm.years.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <!-- speed  -->
                        <div class="col">
                            <div class="form-group">
                                {{ runForm.speed.label }}
                                {{ runForm.speed }}
                                <small>{{ runForm.speed.description }}</small>
                                {% if runForm.speed.errors %}
                                <ul class="errors">
                                    {% for error in runForm.speed.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
                            {{ runForm.submit }}
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-info form-control" onclick="location.reload()">Reload</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger form-control" onclick="location.reload()">Reset</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>



<!-- home js -->
<script src="{{ url_for('static', filename='js/utils.js')}}"></script>
<script src="{{ url_for('static', filename='js/front.js')}}"></script>
<script src="{{ url_for('static', filename='js/back.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>


<!-- home js-->
<!-- <script src="{{ url_for('static', filename='js/home.js')}}"></script> -->

<!-- google charts-->
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->


<!-- maths in html 
for future version -->
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->


<!-- FOR FUTURE VERSION
<section class="container-fluid" id="app">
    <div class="row">
        <div class="col-sm-4">
            <div>
                static state
            </div>
            <div>
                dynamic state
            </div>
            <div>
                action
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                graph 1
            </div>
            <div>
                graph 2
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                graph 3
            </div>
            <div>
                graph 4
            </div>
        </div>
    </div>
</section> -->



{% endblock content %}